<div class="container">
    <footer class="py-2 my-2">
        <ul class="nav justify-content-center">
            <li><a href="https://www.instagram.com/harf_pasta/" class="text-center nav-link px-2 text-muted"><i class="fas fa-brands fa-instagram fa-2x"></i></a></li>
            <li><a href="https://www.facebook.com/harfpastakonya/" class="text-center nav-link px-2 text-muted"><i class="fas fa-brands fa-facebook fa-2x"></i></a></li>
        </ul>
        <ul class="nav justify-content-center border-bottom pb-2">
            <li class="nav-item"><a href="{{url_for('main.index')}}" class="nav-link px-2 text-muted">Anasayfa</a></li>
            <li class="nav-item"><a href="{{url_for('main.musteriler')}}" class="nav-link px-2 text-muted">Müşteriler</a></li>
            <li class="nav-item"><a href="{{url_for('main.siparisler')}}" class="nav-link px-2 text-muted">Siparişler</a></li>
            <li class="nav-item"><a href="{{url_for('main.urunler')}}" class="nav-link px-2 text-muted">Ürünler</a></li>
            <li class="nav-item"><a href="{{url_for('main.tarifler')}}" class="nav-link px-2 text-muted">Tarifler</a></li>
            <li class="nav-item"><a href="{{url_for('main.hammadde')}}" class="nav-link px-2 text-muted">Malzemeler</a></li>
        </ul>
        <p class="text-center text-muted mt-2">&copy; 2020 Harf Pasta</p>
    </footer>
</div>